
/* Styles for printing and PDF generation */

 .fullwrap#utility,.fullwrap#branding, .fullwrap#nav, .fullwrap#foot {display: none !important; visibility: hidden !important; height: 0 !important; position: absolute!important; left: -99999em!important;}
