decorator==4.0.6
Django==1.9
django-crispy-forms==1.5.2
djangorestframework==3.3.2
numpy==1.10.2
pandas==0.17.1
py2neo==2.0.8
python-dateutil==2.4.2
PyYAML==3.11
requests==2.9.0
simplegeneric==0.8.1
six==1.10.0
psycopg2
django-allauth
uwsgi
