{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Explore Cognitive Atlas</title>

    <link type="text/css" href="{% static "css/cogat_app.css"%}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{% static "css/popoto.min.css"%}">
</head>

<body style="background:#333;" class="ppt-body">

    <div class="fullwrap" id="utility" style="min-height:30px">

            <a href="/"><img id="explore_icon" src="{% static "img/logo-graphic.png" %}" class="img" alt="Explore the graph" width="30" style="padding-left:20px; padding-right:8px; float:left"></a>

            <div id="userbar">
    
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}"><input type="button" class="tsbutton" value="Logout" title="Logout" aria-label="Logout" style="margin-left:30px"></a><small> to end your session </small>
                {% else %}
                    <!--Don't show login on login pages-->
                    {% if request.get_full_path == "/accounts/login/" %}
                    {% elif request.get_full_path == "/accounts/create/" %}
                    {% else %}
                <a href="{% url 'login' %}"><input type="button" class="tsbutton" value="Login" title="Login" aria-label="Login"></a><small> to edit and comment </small>
                    {% endif %}
                {% endif %}

            </div>


    </div><!--/#utility-->


<section class="ppt-section-main">
    <div class="ppt-section-header">
        <span class="ppt-header-span">Graph</span> search
    </div>
    <div class="ppt-container-graph">
        <nav id="popoto-taxonomy" class="ppt-taxo-nav">
            <!-- Label/taxonomy filter will be generated here -->
        </nav>
        <div id="popoto-graph" class="ppt-div-graph">
            <!-- Graph will be generated here -->
        </div>
    </div>
    <div id="popoto-query" class="ppt-container-query">
        <!-- Query viewer will be generated here -->
    </div>
    <div id="popoto-cypher" class="ppt-container-cypher">
        <!-- Cypher query viewer will be generated here -->
    </div>
    <div class="ppt-section-header">
        <!-- The total results count is updated with a listener defined in script -->
        RESULTS <span id="result-total-count" class="ppt-count"></span>
    </div>
    <div id="popoto-results" class="ppt-container-results">
        <!-- Results will be generated here -->
    </div>
</section>

<script src="{% static "js/jquery-2.1.0.min.js"%}" charset="utf-8"></script>
<script src="{% static "js/d3.v3.min.js"%}" charset="utf-8"></script>
<script src="{% static "js/popoto.min.js"%}" charset="utf-8"></script>
<script>
// URL used to access Neo4j REST API to execute queries.
popoto.rest.CYPHER_URL = "http://localhost:7474/db/data/transaction/commit";
popoto.provider.nodeProviders = {
    "task":{
        returnAttributes:["id", "creation_time", "name", "last_updated", "definition"],
        constraintAttribute:"name",
    },
    "condition":{
        returnAttributes:["id", "creation_time", "name", "last_updated", "description"],
        constraintAttribute:"name",
    },
    "theory":{
        returnAttributes:["id", "creation_time", "name", "last_updated"],
        constraintAttribute:"name",
    },
    "collection":{
        returnAttributes:["id", "creation_time", "name", "last_updated", "battery"],
        constraintAttribute:"name",
    },
    "concept":{
        returnAttributes:["id", "creation_time", "name", "last_updated", "definition"],
        constraintAttribute:"name",
    },
    "contrast":{
        returnAttributes:["id", "creation_time", "name", "last_updated"],
        constraintAttribute:"name",
    },
    "disorder":{
        returnAttributes:["id", "creation_time", "name", "last_updated", "classification", "definition"],
        constraintAttribute:"name",
    },
    "battery":{
        returnAttributes:["id", "creation_time", "name", "last_updated", "collection"],
        constraintAttribute:"name",
    },
};
popoto.result.onTotalResultCount(function (count) {
    document.getElementById("result-total-count").innerHTML = "(" + count + ")";
});
popoto.logger.LEVEL = popoto.logger.LogLevels.INFO;
popoto.start("task");
</script>
</body>
</html>
