{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class=""> <!--<![endif]-->
    
    <title>{% block title %}Cognitive Atlas{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}"/>
    {% block includes %}{% endblock %}
    {% block global_includes %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="cognitive atlas, cognitive science, neurobiology, taxonomy, semantic web, collaborative tools, neuroscience" />
    <meta name="description" content="The Cognitive Atlas is a collaborative knowledge building project that aims to develop a knowledge base (or ontology) that characterizes the state of current thought in cognitive science.">
    <link type="text/css" href="{% static "css/bootstrap-theme.min.css"%}" rel="stylesheet" media="screen">
    <link type="text/css" href="{% static "css/cogat_app.css"%}" rel="stylesheet" media="screen">
    <link type="text/css" href="{% static "css/print.css"%}" rel="stylesheet" media="print">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <link type="text/css" href="{% static "css/jquery-ui-1.8.14.custom.css"%}" rel="stylesheet" media="screen">
    {% endblock %}
    {% block head %}{% endblock %}
    {% block functions %}{% endblock %}

</head>
{% block body %}
<body id="main" class="{{ active }}">

    <div class="fullwrap" id="utility">
    <div class="container">
            <div id="userbar">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}"><input type="button" class="tsbutton" value="Logout" title="Logout" aria-label="Logout"></a><small> to end your session </small>
                {% else %}
                    <!--Don't show login on login pages-->
                    {% if request.get_full_path == "/accounts/login/" %}
                    {% elif request.get_full_path == "/accounts/create/" %}
                    {% else %}
                <a href="{% url 'login' %}"><input type="button" class="tsbutton" value="Login" title="Login" aria-label="Login"></a><small> to edit and comment </small>
                    {% endif %}
                {% endif %}
            </div>

           {% include 'main/search.html' %}

        </div><!--container-->
    </div><!--/#utility-->

    <!-- Branding -->
    <div class="fullwrap" id="branding">
    {% block branding %}
    {% endblock %}
    </div><!--/#branding-->

    {% block navigavtion %}
    {% endblock %}
      
    <!-- Content -->
    <div class="fullwrap " id="content">
        <div class="container" id="pagecontent">
            {% block content %}{% endblock %}
            <div class="clearboth"></div>
        </div>
    </div>

     <!--Footer-->
    <div id="foot" class="fullwrap">
       <div id="navbar">
           <ul id="navbar-inner" class="clearfix footlinks">
           <li class="navlink footlogo first-item">
               <a href="/" class="embiggen">cognitive<span id="logo-last">atlas</span><span id="address" class="small quiet pull-right"> NIMH Grant RO1MH082795, Russell Poldrack, PI.</span></a>
           </li>
           <li class="navlink concept">
               <a href="{% url 'all_concepts' %}" class="btn"><strong>Concepts</strong></a>
           </li>
           <li class="navlink task">
               <a href="{% url 'all_tasks' %}" class="btn"><strong>Tasks</strong></a>
           </li>
           <li class="navlink diso">
               <a href="{% url 'all_disorders' %}" class="btn"><strong>Disorders</strong></a>
           </li>    
           <li class="navlink coll">
               <a href="{% url 'all_theories' %}" class="btn"><strong>Theories</strong></a>
           </li>
           <li class="navlink about">
               <a href="{% url 'about' %}" class="btn quiet"><strong>About</strong></a>
           </li>
           <li class="navlink blog">
               <a href="http://blog.cognitiveatlas.org/" class="btn quiet" target="_blank"><strong>Blog</strong></a>
           </li>
           <ul class="pull-right">
               <li class="navlink sparql">
                   <a href="{% url 'api' %}" class="btn quiet" style="margin-left: 80px;">REST API</a>
               </li>
           </ul>
        </ul>
    </div><!-- #navbar-->
    <div class="container">
        <div class="pull-left cclink">
    <a href="http://creativecommons.org/licenses/by-sa/3.0/us/" title="Creative Commons Attribution Share Alike license"><img src="{% static "img/cc_by_sa_88x31.png"%}" alt="Creative Commons by-sa 3.0 us" width="71" height="25"/></a>
        </div>
    <div class="pull-right small"> Development partner: <a href="http://www.squishymedia.com" target="_blank" class="">Squishymedia</a></div>
    </div><!--.container-->
    </div><!--#foot-->

    <script src="{% static "js/jquery-2.2.0.min.js"%}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js"%}" type="text/javascript"></script>
    <script src="{% static "js/jquery.tipsy.js"%}" type="text/javascript"></script>
    <script src="{% static "js/jquery-ui-1.8.14.custom.min.js"%}" type="text/javascript"></script>
    <script src="{% static "js/jquery.html5-placeholder-shim.js"%}" type="text/javascript"></script>
    <script>
    $(function() {

    $('#searchterm').click(function() {
        $("#search_results").html("")
    });

    $('#searchterm').keyup(function() {

        $.ajax({
            type: "POST",
            url: "{% url 'search' %}",
            data: {
                'searchterm' : $('#searchterm').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            complete: function (data, error){
                  var results = JSON.parse(data.responseText);
                  $.each(results,function(i,e){
                      $("#search_results").append('<li class="ui-menu-item" role="menuitem"><a href="#" class="ui-corner-all uia" tabindex="-1">' + e.name +'</a></li>');
                  });

                  // Search should highlight on mouseover
                  $(".ui-menu-item").hover(function(){
                      $(this).attr("id","ui-active-menuitem")
                      $("#ui-active-menuitem").addClass("ui-state-hover")
                  })

                  $(".ui-menu-item").mouseleave(function(){
                      $("#ui-active-menuitem").removeClass("ui-state-hover")
                      $(this).attr("id","")
                  })

            },
            dataType: 'html',
        });

    });

    });

    </script>

    {% block scripts %}{% endblock %}

</body>
{% endblock %}
</html>
