{% extends "main/base.html" %}
{% block head %}{% endblock %}
{% load staticfiles %}
{% block branding %}
        <!-- Branding only huge on homepage -->
        <div class="container">
            <div id="brand">
                <div id="logo">
                <a href="/">
                <img src="{% static "img/logo-front.png" %}" class="img" alt="Cognitive Atlas" width="485" height="168"></a>
            </div><!--logo-->
            <span id="tagline">a collaborative knowledge base characterizing the state of current thought in Cognitive Science.</span><!--tagline-->

            </div><!--/#brand-->
        </div><!--container-->

{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}
{% endblock %}

{% block content %}

        <div id="tbox">
            <h1>Welcome to Cognitive Atlas</h1><br />
            <span class="tblock">The Cognitive Atlas is a collaborative knowledge building project that aims to develop a knowledge base (or ontology) that characterizes the state of current thought in cognitive science. The project is led by Russell Poldrack, Professor of Psychology at Stanford University. Development of the project was supported by grant RO1MH082795 from the National Institute of Mental Health. </span>
           </div><!-- close tbox -->

           {% if not request.user.is_authenticated %}
           <div id="aform" class="login-box">

               <!-- Sign In-->
               <div id="showform">    
                   {% include 'registration/_login.html' %}
               </div>

           </div><!-- close aform -->
           {% endif %}

           <br clear="all">
           
           <!-- CENTER CONTENT SECTION -->          
           <div class="superbox-container">
               <div class="superbox conceptbox">
                   <small>Recently updated mental</small> <b>CONCEPTS</b>
                   <ul class="superlist">
                       {% for concept in concepts %}
                       <li><a href="/term/id/{{ concept.id }}" class="concept">{{ concept.name }}</a></li>
                       {% endfor %}
                   </ul>
                   <a href="/concepts" class="superbutton wideload concept">BROWSE ALL {{ counts.concepts }} <b>CONCEPTS</b></a>
           </div>
           <div class="superbox taskbox">
               <small>Recently updated experimental</small> <b>TASKS</b>
                   <ul class="superlist">
                   {% for task in tasks %}
                       <li><a href="/term/id/{{ task.id }}" class="task">{{ task.name }}</a></li>
                   {% endfor %}
                   </ul>
                   <a href="/tasks" class="superbutton wideload task">BROWSE ALL {{ counts.tasks }} <b>TASKS</b></a>
           </div>
           <div class="superbox disorderbox">
               <small>Recently updated </small> <b>DISORDERS</b>
                   <ul class="superlist">
                       {% for disorder in disorders %}
                       <li><a href="/disorder/id/{{ disorder.id }}" class="disorder">{{ disorder.name }}</a></li>
                       {% endfor %}
                   </ul>
                   <a href="/disorders/" class="superbutton wideload disorder">BROWSE ALL {{ counts.disorders }} <b>DISORDERS</b></a>
           </div>
           <div class="superbox collectionbox last-item">
               <small>Recently updated</small> <b>THEORIES</b>
                   <ul class="superlist">
                   {% for theory in theories %}
                       <li> <a href="/theory/id/{{ theory.id }}">{{ theory.name }}</a></li>
                   {% endfor %}
                   </ul>
                   <a href="/theories/" class="superbutton wideload collection">BROWSE ALL {{ counts.theories }} <b>THEORIES</b></a>
           </div>
       </div>
       <div id="iewarn" style="display:none;font-size:10pt;width:100%;">
       You appear to be using an older version of Internet Explorer. Please upgrade, as this site relies on the capabilities of a newer browser.
       </div>
{% endblock %}
{% block scripts %}
    <script language="javascript">
    $(document).ready(function() { 
        function autoFill(id, v){
    $(id).css({ color: "#b2adad" }).attr({ value: v }).focus(function(){
    if($(this).val()==v){
        $(this).val("").css({ color: "#333" });
    }
    }).blur(function(){
        if($(this).val()==""){
           $(this).css({ color: "#b2adad" }).val(v);
        }
    });
    }
    if ($("#username")){
        autoFill($("#username"), "your email address");
    }
    if ($("#user_email")){
        autoFill($("#user_email"), "your email address");
    }
    if ($("#password")){
        autoFill($("#password"), "XXXXXXXXXXXXXX");
    }
    });
    </script>
{% endblock %}
