<div class="pull-right">
    <a class="actionator" id="contclicker">+ contribute new term</a>
</div>


 <blockquote class="text" id="contribution_block" style="display:none">
     <div id="helpblock">
         <span class="sectionmed">Contribute New Term</span><br><br>Terms are the basic building block of the Cognitive Atlas.<br>A term in the Atlas can either be a concept (e.g. 'episodic memory', 'acoustic reflex') or a task ('N-Back Test', 'Action Imitation Task')<br><br>You may provide a term and definition only if the term is not already in the Atlas.
     </div>
     <div id="preblock">1. Enter the term you wish to define:<br><br>
          <style>
              .asholder {position:relative;}
          </style>
      <form method="post" action="{% url 'contribute_term' %}" class="asholder" id="suggestor" name="suggestor">
          {% csrf_token %}
          <input type="text" name="newterm" id="newterm" size="40" autocomplete="off">&nbsp;
          <input type="submit" value="Continue" title="check definition" aria-label="check definition"> 
          <input type="button" title="reset form" aria-label="reset form" value="Cancel" onclick="window.location.reload()">
      </form><br><br>
</blockquote>

