{% extends "main/base.html" %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}
</style>
{% endblock %}
{% load staticfiles %}

{% block branding %}
{% include 'atlas/branding.html'%}
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}

       <!-- Contribute New Term Forms -->
       {% if message %}
       <div class="alert alert-info" role="alert" style="padding:10px;border-radius:2px; margin-bottom:50px;">
           <strong>{{ message }}</strong>
        </div>
       {% endif %}

       {% if already_exists %}
           {% include "atlas/_contribute_term.html" %}
       {% else %}
           {% if term_name %}
               {% include "atlas/_contribute_term_details.html" %}
           {% else %}
               {% include "atlas/_contribute_term.html" %}
           {% endif %}
       {% endif %}

       <div class="clear_all"></div>
      
{% endblock %}
{% block scripts %}
<script type="text/javascript">

$(document).ready(function() {
    $(function() {
       $("#dform").show();
       $("form").show();
       $("#contribution_block").show()
    });
});
</script>
{% endblock %}
