{% extends "main/base.html" %}
{% load staticfiles %}
{% block head %}
<!--TODO: Add title with term name -->
<style>
.ui-autocomplete-loading { background: white url("{% static "images/facebox/loading.gif" %}") right center no-repeat; }
.asholder {position:relative;}
</style>
{% endblock %}

{% block branding %}
<div class="container">
    <div id="brand">
        <div id="logo">
        <a href="/">
                <img src="{% static "img/logo-front.png" %}" class="img" alt="Cognitive Atlas" style="width:400px;height:100px"></a>
    </div><!--logo-->
    <span id="tagline">a collaborative knowledge base characterizing the state of current thought in Cognitive Science.</span>
    </div>
</div>
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}

<div id="block-definition" class="block-full"><div class="assertion">
    <div class="CATerm concept">
        <h1 class="termtext">
            <a class="color-concept" href="">
                <em>{{ concept.name }}</em>
            </a>
            <span class="typebutton concept_type"><a href="/concepts/">CONCEPT</a></span>
        </h1>
    </div><!-- .CATerm.concept -->

    <div class="defn">{{ concept.definition }}</div>
</div><!-- .assertion -->

<div>

<div id='unterbutton_slide_def'>
    <div class="defn">
        <div class="unterbutton_left">
            <a href="#" class="slide_def ">Update definition</a> 
        </div>  
        <div class="unterbutton_left">
            <a href="#" class="slide_fork actionator">Fork definition</a>
        </div>
    </div><!-- .defn -->
</div>

<div class="clear_all"></div>
</div><!-- #block-definition.block-full -->

<div id="block-atlas" class="block-full">
    <!--
    <ul class="tabs">
        <li><a href="#list-view">List View</a></li>
    </ul>-->
    <h2>Asserted <strong>relationships</strong> to other concepts</h2><div class="panes">

    <div class="discdiv tablist">
        <table class='block-4t'>
        <tr>
            <td class="block-4td"><br/><b>{{ concept.name }}<br/>
            <span class="connector-lite">is a kind of</span></b><hr class="dotty" />
            {% if "KINDOF" in concept.relations %}
            <div>
            {% for relation in concept.relations.KINDOF %}
                <li class="hoverator-list" rel="{{ relation.id }}"><span style="float:right;width:10px;display:none;" id="list_hovercard_{{ relation.id }}"><a href="{% url 'concept' relation.id %}"><img src="{% static "images/icons/assert.png"%}" title="Click to view concept {{ relation.name }}: {{ relation.definition }}"></a></span><a href="{% url 'concept' relation.id %}" id="options_{{ relation.id }}" class="optionator concept" title="Click to view the page for {{ relation.name }}">{{ relation.name }}</a></li>
            {% endfor %}
            </div>

            {% else %}
            <div>No associations</div></td>
            {% endif %}

            <td class="block-4td"><br /><b>{{ concept.name }}<br />

            <span class="connector-lite">is a part of</span></b><hr class="dotty" />

            {% if "PARTOF" in concept.relations %}
            <div>
            {% for relation in concept.relations.PARTOF %}
                <li class="hoverator-list" rel="{{ relation.id }}"><span style="float:right;width:10px;display:none;" id="list_hovercard_{{ relation.id }}"><a href="{% url 'concept' relation.id %}"><img src="{% static "images/icons/assert.png"%}" title="Click to view concept {{ relation.name }}: {{ relation.definition }}"></a></span><a href="{% url 'concept' relation.id %}" id="options_{{ relation.id }}" class="optionator concept" title="Click to view the page for {{ relation.name }}">{{ relation.name }}</a></li>
            {% endfor %}
            </div>

            {% else %}
            <div>No associations</div></td>
            {% endif %}

        </tr>
    </table></div></div></div></div><!-- #block-atlas.block-full -->
<div class="clear_all">
</div>

<div id="block-holder" class="block-full"><div id="block-measurements" class="block-half">  
    <h2><strong>Tasks</strong> that are asserted to measure <em class="dictionary">{{ concept.name }}</em></h2>
    <div class="panes">
        <div class="pane">
            <div class="discdiv">
                <table width='100%'>
                    <tr>
                       <td width='50%' valign='top'><b>Task</b></td>
                       <td width='50%' valign='top'><b>Contrast Measure</b></td>
                    </tr>
                </table>
                {% if "MEASUREDBY" in concept.relations %}
                {% for task in concept.relations.MEASUREDBY %}
                <table id="table_{{ task.id }}" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td colspan="3"><div class="dotholder"><hr class="dotty"></div></td>
                    </tr>
                    <tr>
                       {% if task.tasks|length > 0 %}
                       <td width='50%' valign='top'><b><a href="{% url 'task' task.tasks.0.id %}" class="task">{{ task.tasks.0.name }}</a></b></td>
                       {% else %}
                       <td width='50%' valign='top'><b></b></td>
                       {% endif %}
                       <td width='50%' valign='top'>{{ task.name }}</td>
                    </tr>
                </table>
                {% endfor %}
                {% endif %}

</div></div></div></div><!-- #block-measurements.block-half --><div id="block-appliances" class="block-half" style="">
</div>
</div><!-- #block-ephemera.block-full -->

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
    });

    $(".slide_indi").click(function(){
        $("#slidetarget_indi").slideToggle("slow");
        $(this).toggleClass("active");
        $("#unterbutton_slide_indi").hide("slow");
    )}
    $(".slide_def").click(function(){
        $("#slidetarget_def").slideToggle("slow");
        $(this).toggleClass("active");
        $("#unterbutton_slide_def").hide("slow");
    )}

    $(".slide_fork").click(function(){
        $("#slidetarget_fork").slideToggle("slow");
        $("#unterbutton_slide_def").hide("slow");
        $(this).toggleClass("active");
        $("#firstfocus").focus();
    )});
    $('ul.tabs').tabs('.panes > div.pane')                         
    $('#definition_form').validate();

    $(function() {          
        var availableTags = {{ available_concepts }}

        function capture_id_left_t1(item_id) { 
            $("#left-t1-hidden").val(item_id); $("#left-t1-field").val(item_id);
        }  
        $("#left-t1-field").autocomplete({ source: availableTags, select: function(event,ui) { 
          capture_id_left_t1( ui.item.id ); 
        }}); 
               
        function capture_id_left_t2(item_id) { 
            $("#left-t2-hidden").val(item_id); $("#left-t2-field").val(item_id);
        }                  
        $("#left-t2-field").autocomplete({ source: availableTags, select: function(event,ui) { 
            capture_id_left_t2( ui.item.id ); 
        }});
                
        function capture_id_right_t1(item_id) { 
            $("#right-t1-hidden").val(item_id); $("#right-t1-field").val(item_id);
        }

        $("#right-t1-field").autocomplete({ source: availableTags, select: function(event,ui) { 
            capture_id_right_t1( ui.item.id ); 
        }});
                
        function capture_id_right_t2(item_id) { 
            $("#right-t2-hidden").val(item_id); $("#right-t2-field").val(item_id);
        }
        
        $("#right-t2-field").autocomplete({ source: availableTags, select: function(event,ui) { 
            capture_id_right_t2( ui.item.id ); 
        }});
                
        var availTaskTags = {{ available_tasks }};

        function capture_id_left_t16(item_id) { 
            $("#left-t16-hidden").val(item_id); $("#left-t16-field").val(item_id);
        } 
                 
        $("#left-t16-field").autocomplete({ source: availTaskTags, select: function(event,ui) { 
            capture_id_left_t16( ui.item.id ); 
        }});                

    });
                 
    function hoveratorOpen(){     
        var rel = $(this).attr('rel');   
        var targid = "#hovercard_" + rel;  
        $(targid).slideDown('fast');    
     }                 
    function hoveratorClose(){     
        var rel = $(this).attr('rel');   
        var targid = "#hovercard_" + rel;    
        $(targid).slideUp('fast');      
     }
    var config = {            
        over: hoveratorOpen,         
        timeout: 300,           
        out: hoveratorClose         
    };           
    $('.hoverator').hoverIntent(config);
    function hoveratorListOpen(){   
       var rel = $(this).attr('rel');   
       var targid = "#list_hovercard_" + rel;  
       $(targid).slideDown('fast');    
     }
    function hoveratorListClose(){   
       var rel = $(this).attr('rel');   
       var targid = "#list_hovercard_" + rel;  
       $(targid).slideUp('fast');      
     }            
     var config = {            
         over: hoveratorListOpen,       
         timeout: 300,           
         out: hoveratorListClose       
     }; 
     $('.hoverator-list').hoverIntent(config);
     $('.submat').click(function(){  
         var rel = $(this).attr('rel');  
         var rev = $(this).attr('rev');  
         var pos = $(this).attr('pos');  
         var posrel = '#' + pos + '-' + rel;
         var posrelhid = posrel + '-hidden'; 
         var posrelfrm = posrel + '-form'; 
         var posrelfld = posrel + '-field'; 
         var posreladd = posrel + '-add';   
         var posrelul  = posrel + '-ul';   
         var hid = $(posrelhid).val();    
         var con = $('input[name=confidence_level]:checked', posrelfrm).val();var emp = '#' + 'emptybox-' + pos + '-' + rel + '-li';
         $(emp).hide();          
         if (hid == 'nodata' || hid == '') { 
             var con = confirm('You must select a term that exists in the Atlas. Click OK to go to the term creation page, or Cancel.'); 
             if (con) { 
                 window.location.href='/concepts/new'; 
             } else {
                 $(posrelhid).focus(); 
             } 
             return false;           
         }       

        $.post('/url/submit.php', { rel: rel, rev: rev, tid: hid, con: con, pos: pos },  

       function(data) {          
           $(posrelfrm).slideUp('fast');    
           $(posrelfld).val();        
           $(posrelul).append(data);      
           $(posrel).slideDown('fast').appendTo(posrelul);
       });                
       return false;            
     });
                 
     $('.submut').click(function(){  
         var rel = $(this).attr('rel');  
         var rev = $(this).attr('rev');  
         var pos = $(this).attr('pos');  
         var posrel = '#' + pos + '-' + rel;
         var posrelhid = posrel + '-hidden'; 
         var posrelctr = posrel + '-contrast'; 
         var posrelfrm = posrel + '-form'; 
         var posrelfld = posrel + '-field'; 
         var posreladd = posrel + '-add';   
         var posrelul  = posrel + '-ul';   
         var tid = $(posrelhid).val();    
         var ctr = $(posrelctr).val();    
         var con = $('input[name=confidence_level]:checked', posrelfrm).val();
         if (tid == 'nodata' || tid == '') { 
             var con = confirm('You must select a term that exists in the Atlas. Click OK to go to the term creation page, or Cancel.'); 
             if (con) { 
                 window.location.href='/concepts/new'; 
             } else {
                 $(posrelhid).focus(); 
             }
        return false;           
      }                  
      $.post('/url/submit.php',{rel: rel, rev: rev, tid: tid, con: con, pos: pos, ctr: ctr},  

      function(data) {          
          $(posrelfrm).slideUp('fast');    
          $(posrelfld).val();        
          $('#nulltask').hide();       
          $('#meas-table tr:first').after(data);  
          window.location.reload();      
      });                
      return false;            
    });
                 
    $('.block-clicker').click(function(){
        var tid = this.id;         
        var par = '#' + $(this).parent().attr('id');  
        var frm = par + '-form';      
        var fld = par + '-field';      
        var rev = '+=' + $(this).attr('rev') * 6;
        $(par).slideUp('fast');      
        $(frm).css('zIndex', 10001).css('position','absolute');
        if (tid.indexOf('right') == -1) {                
            $(frm).animate({width: rev}, 500, function(){ $(fld).val('');          
            $(fld).focus();          
        });                
     } else {              
     $(frm).animate({ width: rev, right: '+=1'}, 500, function(){ $(fld).val('');            
     $(fld).focus();          
     });                
     }                  
    });
                 
    $('.task-block-clicker').click(function(){
        var tid = this.id;         
        var par = '#' + $(this).parent().attr('id');  
        var frm = par + '-form';      
        var fld = par + '-field';      
        var rev = '+=' + $(this).attr('rev') * 6;
        $(frm).css('zIndex', 10001).css('position','absolute');
        if (tid.indexOf('right') == -1){                
                $(frm).animate({width: rev, right: '+=10'}, 500, function(){ 
                $(fld).val('');          
                $(fld).focus();          
            });                
        } else {  
            $(frm).animate({width: rev, right: '+=1'}, 500, function(){ 
            $(fld).val('');            
            $(fld).focus();          
        });                
      }                  
     });                 
$('.contrastor').live('click',function(){
var tid = this.id; var tide = '#' + tid; var tidy = '#target_' + tid;
var url = '/url/get.php?action=contrastor&id_object=trm_4a3fd79d0a038&id_predicate=' + tid;$.get(url,function(data) {    
$(tide).slideUp('fast');      
$(tidy).html(data);        
$(tidy).slideDown('fast');    
});                
});                 
});

});
</script>
{% endblock %}
