{% extends "main/base.html" %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}
</style>
{% endblock %}
{% load staticfiles %}

{% block branding %}
<div class="container">
    <div id="brand">
        <div id="logo">
    	    <a href="/">
                <img src="{% static "img/logo-front.png" %}" class="img" alt="Cognitive Atlas" style="width:400px;height:100px"></a>
    	</div><!--logo-->
    	<span id="tagline">a collaborative knowledge base characterizing the state of current thought in Cognitive Science.</span>
    </div>
</div>
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}

       <div class="pull-right">
           <a href="javascript:void(0)" class="actionator" id="contclicker">+ contribute new term</a>
       </div><br/>
       <div class="stringer">Concepts beginning with "{{ letter }}" {{ filtered_concepts_count }}</div>
       <div class='nocss3-three-columns'>
           <div style='float:left;width:300px;'>
               <ul style='list-style-type: none;'>
                   {% for node in nodes %}
                   <li>
                       <span class="concept">
                           <a href="/concepts/id/{{ node.id }}" class="concept tooltip" title="<big><b>{{ node.name }}:</b></big><br/>{{ node.definition }}<br/><br/>">{{ node.name }}</a>
                       </span>
                   </li>
                   {% endfor %}
               </ul>
           </div>
           <div class="clear_all"></div>
       </div><!-- .nocss3-three-columns -->    

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
    });
});
</script>
{% endblock %}
