{% extends "main/base.html" %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}

{% include "atlas/multicolumn_lists.css" %}

</style>
{% endblock %}
{% load staticfiles %}

{% block branding %}
<div class="container">
    <div id="brand">
        <div id="logo">
    	    <a href="/">
                <img src="{% static "img/logo-front.png" %}" class="img" alt="Cognitive Atlas" style="width:400px;height:100px"></a>
    	</div><!--logo-->
    	<span id="tagline">a collaborative knowledge base characterizing the state of current thought in Cognitive Science.</span>
    </div>
</div>
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}

       <!-- Contribute New Term Form -->
       {% include "atlas/_contribute_term.html" %}

       <h1 class="CATitle">Browse <strong class="concept">Concepts</strong></h1>
       <div class='inset padtop charstring'><a href='/concepts/' class=' non-selected-letter '>ALL</a>
       {% for let in "abcdefghijklmnopqrstuvwxyz"|make_list %}
            <span class='finb'>&nbsp;</span>
            {% if let = letter %}
            <a href='/concepts/{{ let|capfirst }}' class=' selected-letter '>{{ let|capfirst }}</a>
            {% else %}
             <a href='/concepts/{{ let|capfirst }}' class=' non-selected-letter '>{{ let|capfirst }}</a>
            {% endif %}
       {% endfor %}
       </div><br>
 
       <div class="stringer">Concepts beginning with "{{ letter|capfirst }}" {{ filtered_concepts_count }}</div>
       <div style='float:left;width:300px;'>
           <ul class="columns" id="triple">
               {% for node in nodes %}<li><span class="concept"><a href="/concepts/id/{{ node.id }}" class="concept tooltip" title="<big><b>{{ node.name }}:</b></big><br/>{{ node.definition }}<br/><br/>">{{ node.name }}</a></span></li>{% endfor %}
           </ul>
       </div>
       <div class="clear_all"></div>
      
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
       $("#contclicker").click(function(){
           $("#contribution_block").toggle();
       });
    });
});
</script>
{% endblock %}
