{% extends "main/base.html" %}
{% block head %}
<style>
.ui-autocomplete-loading { background: white url("/images/facebox/loading.gif") right center no-repeat; }
.asholder {position:relative;}

{% include "atlas/multicolumn_lists.css" %}

</style>
{% endblock %}
{% load staticfiles %}

{% block branding %}
<div class="container">
    <div id="brand">
        <div id="logo">
    	    <a href="/">
                <img src="{% static "img/logo-front.png" %}" class="img" alt="Cognitive Atlas" style="width:400px;height:100px"></a>
    	</div><!--logo-->
    	<span id="tagline">a collaborative knowledge base characterizing the state of current thought in Cognitive Science.</span>
    </div>
</div>
{% block navigation %}
{% include "atlas/middle_navigation.html" %}
{% endblock %}

{% endblock %}

{% block content %}


       <div class="pull-right">
           <a class="actionator" id="contclicker">+ contribute new term</a>
       </div>

       <!-- Contribute term form -->
       <form method="post" id="dform" action="post" hidden>
           <input type="hidden" name="form_type" value="term_form">
           <input type="hidden" name="return_page" value="">
           <input type="hidden" name="id_object" value="">
           <input type="hidden" name="id_match" id="id_match" value="">
           <input type="hidden" name="term_text" id="term_text" value="">
           <div id="tblock">2. Enter your definition for <span id="newterm"></span>:<br /><br />
               <textarea name="definition_text" id="definition_text" rows="16" cols="100" title="definition of term" title="term definition" aria-label="term definition"></textarea><br/>
               <small>If you wish to copy and paste text from a web site or document, please provide attribution to that site<br /> or document in parentheses - for example, (from Wikipedia.org)</small><br/><br/>3. Select the type of term<br/><br/>
               <div id='radiomsg'></div>
               <div class="bgsep">
                   <input type="radio" value="concept" name="term_type" onclick="revealCC()" class="required" title="You must select a term type!" aria-label="type of term is concept" />&nbsp;
                   <label>Concept</label>&nbsp;
                   <small>Defined as a mental function, representation, or process. Examples: "working memory", "lemma"</small><br/><br/>
               </div>
               <div class="bgsep">
                   <div id="ttblock">
                       <input type="radio" value="task" name="term_type" onclick="revealTT()" title='You must select a term type!' aria-label='type of term is task' />&nbsp;
                       <label>Task</label>&nbsp;
                       <small>A test that measures some aspect of mental function. Examples: "abuse risk inventory", "Derogatis stress profile"</small><br/>
                   </div>
               </div><br/><br/>4. Add any synonyms or acronym representations for this term (separated by comma):<br/>
               <input type="text" name="term_alias" value="" id="term_alias" size="80" aria-label="Add an alias to this term." title="Add an alias to this term." /><br/><br/>5. Add your term and definition to the database:<br/><br/>
               <input type="submit" value="Add Definition" title="submit form" aria-label="submit form">
               <input type="button" value="Reset" onclick="window.location.reload()" aria-label="cancel update" title="cancel submission" />
           </div>
       </form><br/>

       <h1 class="CATitle">Browse <strong class="concept">Concepts</strong></h1>
       <div class='inset padtop charstring'><a href='/concepts/' class=' non-selected-letter '>ALL</a>
       {% for let in "abcdefghijklmnopqrstuvwxyz"|make_list %}
            <span class='finb'>&nbsp;</span>
            {% if let = letter %}
            <a href='/concepts/{{ let|capfirst }}' class=' selected-letter '>{{ let|capfirst }}</a>
            {% else %}
             <a href='/concepts/{{ let|capfirst }}' class=' non-selected-letter '>{{ let|capfirst }}</a>
            {% endif %}
       {% endfor %}
       </div><br>
 
       <div class="stringer">Concepts beginning with "{{ letter|capfirst }}" {{ filtered_concepts_count }}</div>
       <div style='float:left;width:300px;'>
           <ul class="columns" id="triple">
               {% for node in nodes %}<li><span class="concept"><a href="/concepts/id/{{ node.id }}" class="concept tooltip" title="<big><b>{{ node.name }}:</b></big><br/>{{ node.definition }}<br/><br/>">{{ node.name }}</a></span></li>{% endfor %}
           </ul>
       </div>
       <div class="clear_all"></div>
      
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $(function() {
       $(".tooltip").tipsy({fade:false, gravity:"w", html:true});
       $("#masker").fadeOut("fast");
       $("#contclicker").click(function(){
           $("#dform").show();
       });
    });
});
</script>
{% endblock %}
